/* https://www.w3schools.com/css/css_grid.asp */
.grid-container {
    display: grid;
    grid-template-columns: auto auto; /* two autos for two columns*/
}

.box { 
    /*width: 100%;
    height: 100%;*/
    border: 15px black;
    border-radius: 2%;
    padding: 2.5%;
    margin: 2.5%;
    
    box-shadow: 10%;

    text-align: center;
}

.selectors {
    width: 10%;
    border: 5%;
    padding: 2%;
    margin: 5%;

}

#readings {
    background-color: purple;
    color: white;
}

#assignments {
    background-color: blue;
    
}

#tasks {
    background-color: violet;
}

#future {
    background-color: aqua;
}